* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
body {
    background: radial-gradient(circle, rgba(209,213,223,1) 0%, rgba(123,130,149,1) 15%, rgb(0, 0, 0) 75%);
    background: radial-gradient(circle, rgba(253,237,201,1) 0%, rgba(241,158,54,1) 15%, rgba(23,23,23,1) 75%);
    /* background: radial-gradient(circle, rgba(190,201,233,1) 0%, rgba(95,107,189,1) 15%, rgba(23,23,23,1) 75%); */
    /* background: radial-gradient(circle, rgba(122,230,243,1) 10%, rgba(31,118,191,1) 25%, rgba(23,23,23,1) 75%); */
    /* background: radial-gradient(circle, rgba(205,122,243,1) 0%, rgba(154,31,191,1) 15%, rgba(23,23,23,1) 75%); */

    background-repeat: no-repeat;
    min-height: 100vh;   
}
.haeder {
    display: flex;
    align-items: center;
    padding: 1rem;
}
.haeder a {
    margin-right: 1rem;

}

/* earn styles */
.earn {
    background: linear-gradient(0deg, rgb(1 255 149) 2%, rgb(255 0 0) 45%);
    background: linear-gradient(0deg, rgb(168 197 165) 5%, rgb(69 32 32) 45%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
    padding-bottom: 4rem;
}
.earn-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
/* login styles */
.login-page {
    background: linear-gradient(0deg, rgb(178 164 24) 2%, rgb(143 75 200) 45%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
    padding-bottom: 4rem;
}
iframe{
    padding: 5rem;
    align-items: center;
    margin-top: 13rem;
    
    
}
